
    <div class="row">
        <h1 style="text-align: center">Edit <%= destination.name %></h1>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/destinations/<%= destination._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <input class="form-control" type="text" name="destination[name]" value="<%= destination.name %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="destination[image]" value="<%= destination.image %>">
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" name="destination[description]" value="<%= destination.description %>">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Submit!</button>
                </div>
                <div class="form-group">
                    <label for="location">Location</label>
                    <input class="form-control" type="text" name="location" id="location" value="<%= destination.location %>">
                </div>
            </form>
            <a href="/destinations">Go Back</a>
        </div>
    </div>

<% include ../partials/footer %>

